<a href="https://colab.research.google.com/github/MuratCKoc/salesinsider/blob/main/ProphetsPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Facebook's Prophets Sales Forecast

In [1]:
# First setup the dependencies
import pandas as pd
import numpy as np
import matplotlib

# Our most important library is FB Prophet which will be using rule based learning
from fbprophet import Prophet

Importing plotly failed. Interactive plots will not work.

In [14]:
# We then read the CSV file from GitHub
df = pd.read_csv('https://raw.githubusercontent.com/MuratCKoc/salesinsider/main/salesinsider/data/Groceries_dataset.csv')
# As the file has multiple columns, we select the columns that we will be using for the project.
data_df = df[['Date', 'itemDescription']]
data_df.head()

         Date   itemDescription
0  21-07-2015    tropical fruit
1  05-01-2015        whole milk
2  19-09-2015         pip fruit
3  12-12-2015  other vegetables
4  01-02-2015        whole milk

In [15]:
# We then use the get dummies function to convert each of the food items into an indicator.
# What this means is that all the data is converted into a single number (1)
cat_df = pd.get_dummies(data_df["itemDescription"])
# We then concatenate the data
final_df = pd.concat([data_df,cat_df],axis=1)
# After concatenation of the data we then group all the data by the dates which gives 
# a table we can use to conduct our machine learning algorithm.
grouped_df = final_df.groupby("Date", as_index=False).sum()
grouped_df.head()

,Date,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,01-01-2014,2,0,0,0,0,0,0,0,0,...,0,0,2,2,0,0,0,2,4,0
1,01-01-2015,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,1,0,3,0,0
2,01-02-2014,0,0,0,0,0,0,0,0,2,...,0,0,2,1,0,1,0,1,3,0
3,01-02-2015,0,1,0,1,0,0,0,0,2,...,0,0,1,0,0,1,0,9,6,0
4,01-03-2014,0,0,0,0,0,0,0,0,0,...,0,0,1,3,0,1,0,1,1,0

In [16]:
list(grouped_df)

['Date',
 'Instant food products',
 'UHT-milk',
 'abrasive cleaner',
 'artif. sweetener',
 'baby cosmetics',
 'bags',
 'baking powder',
 'bathroom cleaner',
 'beef',
 'berries',
 'beverages',
 'bottled beer',
 'bottled water',
 'brandy',
 'brown bread',
 'butter',
 'butter milk',
 'cake bar',
 'candles',
 'candy',
 'canned beer',
 'canned fish',
 'canned fruit',
 'canned vegetables',
 'cat food',
 'cereals',
 'chewing gum',
 'chicken',
 'chocolate',
 'chocolate marshmallow',
 'citrus fruit',
 'cleaner',
 'cling film/bags',
 'cocoa drinks',
 'coffee',
 'condensed milk',
 'cooking chocolate',
 'cookware',
 'cream',
 'cream cheese ',
 'curd',
 'curd cheese',
 'decalcifier',
 'dental care',
 'dessert',
 'detergent',
 'dish cleaner',
 'dishes',
 'dog food',
 'domestic eggs',
 'female sanitary products',
 'finished products',
 'fish',
 'flour',
 'flower (seeds)',
 'flower soil/fertilizer',
 'frankfurter',
 'frozen chicken',
 'frozen dessert',
 'frozen fish',
 'frozen fruits',
 'frozen meals',
 'frozen potato products',
 'frozen vegetables',
 'fruit/vegetable juice',
 'grapes',
 'hair spray',
 'ham',
 'hamburger meat',
 'hard cheese',
 'herbs',
 'honey',
 'house keeping products',
 'hygiene articles',
 'ice cream',
 'instant coffee',
 'jam',
 'ketchup',
 'kitchen towels',
 'kitchen utensil',
 'light bulbs',
 'liqueur',
 'liquor',
 'liquor (appetizer)',
 'liver loaf',
 'long life bakery product',
 'make up remover',
 'male cosmetics',
 'margarine',
 'mayonnaise',
 'meat',
 'meat spreads',
 'misc. beverages',
 'mustard',
 'napkins',
 'newspapers',
 'nut snack',
 'nuts/prunes',
 'oil',
 'onions',
 'organic products',
 'organic sausage',
 'other vegetables',
 'packaged fruit/vegetables',
 'pasta',
 'pastry',
 'pet care',
 'photo/film',
 'pickled vegetables',
 'pip fruit',
 'popcorn',
 'pork',
 'pot plants',
 'potato products',
 'preservation products',
 'processed cheese',
 'prosecco',
 'pudding powder',
 'ready soups',
 'red/blush wine',
 'rice',
 'roll products ',
 'rolls/buns',
 'root vegetables',
 'rubbing alcohol',
 'rum',
 'salad dressing',
 'salt',
 'salty snack',
 'sauces',
 'sausage',
 'seasonal products',
 'semi-finished bread',
 'shopping bags',
 'skin care',
 'sliced cheese',
 'snack products',
 'soap',
 'soda',
 'soft cheese',
 'softener',
 'soups',
 'sparkling wine',
 'specialty bar',
 'specialty cheese',
 'specialty chocolate',
 'specialty fat',
 'specialty vegetables',
 'spices',
 'spread cheese',
 'sugar',
 'sweet spreads',
 'syrup',
 'tea',
 'tidbits',
 'toilet cleaner',
 'tropical fruit',
 'turkey',
 'vinegar',
 'waffles',
 'whipped/sour cream',
 'whisky',
 'white bread',
 'white wine',
 'whole milk',
 'yogurt',
 'zwieback']

In [18]:
# Format the data, remove ".()/ " characters and restructure the names
# When tried to move the tables into SQL we received errors, the cause of this was the certain column names have parenthesis.
# The parentheses are escape strings which cause an error, so we have to replace them.
grouped_df.columns = grouped_df.columns.str.replace("[(.)]", "")
grouped_df.columns = grouped_df.columns.str.replace("[/]", " or ")
grouped_df.columns = grouped_df.columns.str.replace("[ ]", "_")

# Prepare data for any future use
### Loading the data with ' . ( ) / ' characters created plenty of problems
'artif. sweetener',
'flower (seeds)',
'flower soil/fertilizer',
### str.replace function used to transform into
'artif_sweetener',
'flower_seeds',
'flower_soil_or_fertilizer',

In [ ]:
# Create master dataframe
master_df = pd.DataFrame()

for j in range(727, len(grouped_df.index)):
   # Predict thru all transactions.
  for i in range (1, len(grouped_df.columns)): 
    prophet_df = grouped_df[["Date", grouped_df.columns[i]]]
    
    # Convert the df into prophets format
    prophet_df.columns = ["ds", 'y']
    prophet_df['ds'] = pd.to_datetime(prophet_df.ds,format='%d-%m-%Y')
    
    # Fit the model by instantiate new Prophet object
    model = Prophet()
    model.fit(prophet_df)
    
    # Predictions are then made based on "ds" store it in yhat
    future = model.make_future_dataframe(periods=213)
    forecast = model.predict(future)
    predicted_df = forecast[["ds", "yhat"]]
    
    predicted_df.yhat = predicted_df.yhat.round()

    # Rename the column contains the predicted values
    predicted_ColName = grouped_df.columns[i]+"_Predicted"

    # Generate a figure (plot) displaying the forecast
    fig = model.plot(forecast, xlabel='Date', ylabel='Frequency')
    ax = fig.gca()
    ax.set_title(predicted_ColName, size=24)
    ax.set_xlabel("Date", size=18)
    ax.set_ylabel("Frequency", size=18)
    ax.tick_params(axis="x", labelsize=15)
    ax.tick_params(axis="y", labelsize=15)
    # Save the figure to re-use later on
    fig.savefig("static/images/plots/"+predicted_ColName+".png", bbox_inches='tight')

    # Rename the predicted columns as "<item name>_Predicted"
    predicted_df = predicted_df.rename( columpns={"ds": "Date", "yhat": predicted_ColName})

    #initialize container df if its the first column
    if len(master_df.index) == 0:
      master_df = predicted_df.copy()
    
    # merge the newly generated predicted Table to the right
    else:
      master_df[predicted_ColName] = predicted_df[predicted_ColName]
    
    # merge the original data column to the container 
    colName = grouped_df.columns[i]
    master_df[colName] = grouped_df[colName]

    # Break at the End Of File
    if i == len(grouped_df.columns):
      break

In [19]:
# This table shows us a consolidated view of the table with the output of machine learning applied here.
# Notice that we have double the number of columns.
master_df.tail()

,Date,Instant_food_products_Predicted,Instant_food_products,UHT-milk_Predicted,UHT-milk,abrasive_cleaner_Predicted,abrasive_cleaner,artif_sweetener_Predicted,artif_sweetener,baby_cosmetics_Predicted,...,white_bread_Predicted,white_bread,white_wine_Predicted,white_wine,whole_milk_Predicted,whole_milk,yogurt_Predicted,yogurt,zwieback_Predicted,zwieback
936,2016-07-26,0.0,NaN,0.0,NaN,0.0,NaN,-0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,5.0,NaN,2.0,NaN,0.0,NaN
937,2016-07-27,0.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,5.0,NaN,2.0,NaN,0.0,NaN
938,2016-07-28,0.0,NaN,0.0,NaN,0.0,NaN,-0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,5.0,NaN,2.0,NaN,0.0,NaN
939,2016-07-29,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,5.0,NaN,2.0,NaN,0.0,NaN
940,2016-07-30,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,5.0,NaN,2.0,NaN,0.0,NaN

In [8]:
# We then have to start cleaning up the table and remove all "NAN"s from the predicted columns. 
# This will make it easier for visualization purposes.
clean_df = master_df
clean_df = clean_df.replace(np.nan,"")
clean_df.dtypes

Date                               datetime64[ns]
Instant_food_products_Predicted           float64
Instant_food_products                      object
UHT-milk_Predicted                        float64
UHT-milk                                   object
                                        ...
whole_milk                                 object
yogurt_Predicted                          float64
yogurt                                     object
zwieback_Predicted                        float64
zwieback                                   object
Length: 335, dtype: object

In [9]:
# This is to check if the strings have been changed.
clean_df = clean_df.set_index('Date').apply(pd.to_numeric, errors='ignore').reset_index(drop=False)
clean_df = clean_df.fillna(0)
clean_df.head()

,Date,Instant_food_products_Predicted,Instant_food_products,UHT-milk_Predicted,UHT-milk,abrasive_cleaner_Predicted,abrasive_cleaner,artif_sweetener_Predicted,artif_sweetener,baby_cosmetics_Predicted,...,white_bread_Predicted,white_bread,white_wine_Predicted,white_wine,whole_milk_Predicted,whole_milk,yogurt_Predicted,yogurt,zwieback_Predicted,zwieback
0,2014-01-01,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,3.0,2.0,2.0,4.0,0.0,0.0
1,2014-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0
2,2014-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,2.0,1.0,2.0,3.0,0.0,0.0
3,2014-01-04,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,3.0,9.0,2.0,6.0,0.0,0.0
4,2014-01-05,0.0,0.0,1.0,0.0,0.0,0.0,-0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0,0.0

In [10]:
# We then proceed to move the table to SQL
# Import SQLAlchemy Dependencies 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from config import database_url

In [11]:
# To update database with dataframe
def Update_Database(df_name, table_name):
    engine = create_engine(database_url, echo=False)
    session = Session(engine)
    Base = automap_base()
    Base.prepare(engine, reflect=True)    
    cxn = engine.connect()
    df_name.to_sql(name=table_name, con=engine, if_exists='append', index=True)
    print(table_name + ' added')
    #Add primary key
    #with engine.connect() as con:
    #con.execute('ALTER TABLE `predicted_table` ADD PRIMARY KEY (`Date`);')

In [12]:
Update_Database(clean_df, "predicted_table")

predicted_table added